@import "tailwindcss";

@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'Zilla Slab', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body) , Helvetica,Arial, sans-serif;
}

/* Apply the heading font (Zilla Slab) to all titles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700; /* Bold weight */
  line-height: 1.2;
}